html {
  height: 100%;
  background: linear-gradient(#3400cd 25%, #ffdc93 50%);

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    h1 {
      width: fit-content;
      color: #ffdc93;
    }
  
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;

      a {
        color: white;

        &:visited {
          color: lightgray;
        }
      }
    }
  }
  
  section.game {
    width: 800px;
    margin: 0 auto;
    position: relative;
  
    canvas {
      border: 1px solid black;
      position: absolute;
    }
  }
  
  footer {
  
  }
}